@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.fs-low {
    font-size: 14px;
}



/* sec2 */



#sec2 {
    height: auto;
    width: 100%;
}


h2 {
    font-weight: bolder;
}

.nav-item {
    margin-right: 50px;
    margin-top: 10px;

}

.nav-link {
    color: var(--c2) !important;
}


#sec1 ul .active,
#sec2 ul .active,
#sec3 ul .active,
#sec4 ul .active,
#sec5 ul .active,
#sec6 ul .active {
    background-color: var(--c1) !important;
    color: var(--c3) !important;
    border-bottom: 5px solid var(--c3);
    border-radius: 0 !important;
}


#p2sec1 ul .active,
#p2sec2 ul .active,
#p2sec3 ul .active,
#p2sec4 ul .active,
#p2sec5 ul .active,
#p2sec6 ul .active {
    background-color: var(--c1) !important;
    color: var(--p2c3) !important;
    border-bottom: 5px solid var(--p2c3);
    border-radius: 0 !important;
}




.read-more-btn {
    cursor: pointer;
    position: relative;
    top: -20px;
}

.pilltext {
    line-height: 30.5px;
    letter-spacing: 0.5px;
    text-align: justify;
}


.content-overflow {
    height: 600px;
    overflow: auto;
    padding: 5%;
    scrollbar-width: thin;
}

.content-overflow::-webkit-scrollbar {
    width: 6px;
}

.content-overflow {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}



.overview-frame iframe{
    width: 100% !important;
    height: 100% !important;
}


/* sec3 */



.month-wrapper {
    border: 1px solid var(--c4);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

#month-carousel.owl-theme .owl-nav [class*=owl-] {
    color: var(--c4) !important;
    background: transparent !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-size: 24px !important;
    margin-top: 5px !important;
}

#month-carousel.owl-theme .owl-nav [class*=owl-] i {
    color: var(--c4) !important;
}

#month-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--c4) !important;
    background: transparent !important;
    text-decoration: none;
}

#month-carousel.owl-theme .owl-nav [class*=owl-]:hover i {
    color: var(--c2) !important;
}

#month-carousel .owl-nav button.owl-prev {
    left: -20px;
    margin-top: -5px !important;
}

#month-carousel .owl-nav button.owl-next {
    right: -20px;
    margin-top: -5px !important;
}

.dateslider .owl-prev {
    left: -10px;
}

.dateslider .owl-next {
    right: -10px;
}

.owl-left,
.owl-right {
    font-size: 20px !important;
}

.dateslider .owl-prev {
    left: -10px;
}

.dateslider .owl-next {
    right: -10px;
}

.owl-prev,
.owl-next {
    color: var(--c4) !important;
    font-weight: 300 !important;
    background-color: none !important;
}

.owl-prev:hover,
.owl-next:hover {
    color: var(--c2) !important;
    background-color: none !important;
}


.highlight-today {
    background-color: #ffc107 !important;
}

.highlight-today .day-month,
.highlight-today .date-number {
    color: #fff !important;
}

.slot-section-hidden {
    display: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    color: var(--c2);
    font-size: 60px !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.owl-prev {
    left: 8px;
}

.owl-next {
    right: 4px;
}

.date-wrapper {
    border: 1px solid var(--c4);
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: var(--c1);
    transition: .5s;
}

.date-number {
    font-size: 1.8em;
    font-weight: bolder;
    transition: color .5s;
}

.day-month {
    font-size: 13px;
    font-weight: 400;
    color: var(--c4);
    transition: color .5s;
}

.date-wrapper:hover .date-number {
    color: var(--c1) !important;
}

.date-wrapper:hover .day-month {
    color: var(--c1) !important;
}

.date-highlight .day-month,
.date-highlight .date-number {
    color: #fff !important;
}

.btn-resize {
    width: 100%;
    height: 40px;
}

.error-message {
    color: red;
    display: block;
    margin-top: 5px;
}

.success-message {
    color: green;
}


@media screen and (min-width: 1083px) {
    #sec1 .appbtn {
        width: 280px;
    }
    .searchBtn {
        left: -90px !important;
        margin-top: 2px;
        margin-bottom: 2px;

    }
    .dateslider .owl-prev {
        left: -35px;
    }

    .dateslider .owl-next {
        right: -35px;
    }
}


.loc-icon {
    height: 80px;
    width: 80px;
}

.loctext {
    margin-left: 30px;
}

.ap-book {
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
}

.ap-book:hover {
    color: var(--c1) !important;
    transition: 300ms;
}

.ap-book:hover > b {
    color: var(--c1) !important;
}

.time-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none;
    margin-left: -38px;

}

.time {
    display: inline-flex !important;
    white-space: nowrap;
    margin-left: 5px;
}


.fa-location-dot {
    color: var(--c1);
}

.location-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.closed {
    background-color: red !important;
    color: var(--c1);
}


.docOnLeave {
    background-color: #E7E00A !important;
    color: var(--c1);
}

.otp-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 22rem;
    height: 13rem;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 36rem;
}

#otp {
    padding: 0;
    height: 3rem;
    width: 8rem;
    align-self: center;
    margin-left: 2rem;
    border-radius: 0.5rem;
}

.checkbox-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.confirmation {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmation p {
    margin: 10px 0;
    font-size: large;
}

.confirmation h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.confirmation button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.confirmation .btn {
    align-self: center;
    margin-top: 4rem;
}

.popup1 {
    display: none;
    position: fixed;
    height: 70vh;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80vw;
}

.error {
    color: red;
}

.popup1 {
    position: fixed;
    height: 70vh;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



/* sec4  */



.expertise-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.expcontent {
    text-align: justify;
    overflow: hidden;
    transition: height 0.3s ease;
}

.exp-imag-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-imag-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



/* sec5 */



.search-wrapper {
    border-radius: 5px;
}

.searchBtn {
    text-align: center;
    color: var(--c1);
    font-weight: bolder;
    width: 120px;
    vertical-align: middle;
    left: 82.5% !important;
    margin-top: -.2px;
    border: .5px solid var(--c1);
    margin-bottom: 2px;
    border-left: none;
}

.search-wrapp {
    display: flex;
}

button:hover {
    opacity: 0.8;
    transition: .5s;
}

.readMore {
    border-radius: 15px;
    transition: .5s;
    color: var(--c1);
    border: none;
}

.articele-wrapper {
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.03);
    min-height: 450px;
}

.article-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.inputfix {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 2px;
}


.hfix {
    height: 55px;
}

.docslider .owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    color: var(--c2);
    font-size: 60px !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.docslider .owl-prev {
    left: 15px;
}

.docslider .owl-next {
    right: 15px;
}


.docslider .owl-prev {
    left: 15px;
}

.docslider .owl-next {
    right: 15px;
}

.about-wrap {
    width: 100%;
    min-height: 350px;
    max-height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.about-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cat-news-load {
    cursor: pointer;
}

.overview-image-wrap {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-image-wra img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



.about-wrap .youtube-facade {
    position: relative;
    height: 180px !important; 
    background-color: #000;
    cursor: pointer;
    outline: none;
    border: none;
}

.about-wrap .youtube-facade-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-wrap .youtube-facade-thumbnail img {
    width: 100%;
    height: 100%;
}

.about-wrap iframe {
    width: 100%;
    height: 185px;
}


/* sec6 */



.dropdown-toggle {
    border: 1px solid var(--c2);
}

.test-search {
    color: var(--c1);
    vertical-align: middle;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.exp {
    border-radius: 20px;
    background: transparent;
}

.test-wrapp {
    background-color: #ebf3fb;
    border-radius: 10px;
    min-height: 380px;
}

.testimonial-slider .owl-prev {
    position: absolute;
    left: -25px;
}

.testimonial-slider .owl-next {
    position: absolute;
    right: -25px;
}

.readMoreLink {
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.quotes {
    font-size: 4em;
}

.patient-imag-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-imag-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tag {
    padding: 4px;
    border-radius: 10px;
}

.active-tag1 {
    background-color: var(--c1);
    padding: 4px;
    border-radius: 10px;
    transition: .5s;
}

.active-tag2 {
    background-color: var(--c1) !important;
    color: var(--p2c3) !important;
    padding: 4px;
    border-radius: 10px;
    transition: .5s;
}

.patient .owl-prev {
    left: -20px;
    font-size: 30px !important;
}

.patient .owl-next {
    right: -20px;
    font-size: 30px !important;
}

.patient .owl-prev:hover,
.patient .owl-next:hover {
    background-color: none !;
}



/* sec7 */



.accordion-item {
    padding: 20px;
    background: #fff;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 10px #ede9fe;
}

.accordion-item .accordion-label {
    font-size: 24px;
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-weight: 600;
}

.accordion-item .accordion-label:after {
    position: absolute;
    right: 0;
    content: "+";
    font-size: 20px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
}

.accordion-item .accordion-label.cw-open:after {
    transform: rotate(45deg);
}

.accordion-item .accordion-content {
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.accordion-item .cw-open + .accordion-content {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.faq-search {
    color: var(--c1);
    vertical-align: middle;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}



/* map */



.nav-pills {
    overflow-x: hidden;
}

.maplink iframe {
    width: 100% !important;
    height: 450px !important;
}

.map-pill .nav-link {
    background-color: var(--c1) !important;
    border-radius: 0;
    margin: 5px;
}

.mailto,
.callto {
    color: var(--c1) !important;
    cursor: pointer;
    z-index: 10;
}



/* ohers */


/* .read-more-link {
    text-decoration: none;
    display: block;
    color: var(--c3);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.read-more-link2 {
    text-decoration: none;
    display: block;
    color: var(--p2c3);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
} */