@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+HK:wght@100..900&display=swap');


.fon1 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans HK", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Customized  Scroll  */


/*
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c1);
}
*/


/* End of Customized  Scroll  */

section {
	/* user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-ms-user-select: none; */
}

.nodrag {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-ms-user-select: none;
}

a{
    text-decoration: none;
}


#sec1 {
	background-color: var(--c3);
	color: var(--c1);
	min-height: 100vh auto;
}

#sec1 h1 {
	color: var(--c1);
	font-weight: bold;
}


#sec1 .intro-box {
    padding-top: 0px;
    padding-left: 20px;
}



#sec1 .container{
    padding-top: 5%;
    padding-bottom: 5%;
}

#sec1 .img-bg {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#sec1 .img-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#sec1 .clinic-wrap {
    width: 25%;
    height: 45px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.05);
}

#sec1 .clinic-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}




#sec1 .title {
	color: var(--c1);
	font-weight: bolder;
}


#sec1 .appbtn {
    background: var(--c1);
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.05);
    transition: .5s;
}

#sec1 .appbtn:hover{
    background: var(--c3);
    color: var(--c1);
    border: 1px solid var(--c1);
    transition: .5s;
    opacity: 1;
}


#sec1 .svg{
    padding: 0;
}





@media screen and (min-width: 1083px) {


	#sec1 .appbtn {
		width: 280px;
	}

	#sec5 .searchBtn{
	left: -90px !important;
	margin-top: 2px;
	margin-bottom: 2px;

	}

    .dateslider .owl-prev {
        left: -35px;
      }
    
    .dateslider  .owl-next {
        right: -35px;
      }


  }
@media screen and (max-width: 991px) {
	.facilities {
		width: 300px;
	}
  }

  #sec1 .star i {
    color: gold;
    margin: 5px;
    background-color: var(--c1);
    padding: 10px;
    border-radius: 100px
}


#sec1 .star {
    font-size: 20px;
    border-radius: 100%;
    padding: 4px 8px;
    color: var(--c3);
}


#sec1 .line {
	width: 5px;
	height: 38px;
	background-color: #2dec00;
	position: absolute;
	margin-top: -7.5px;
	margin-left: -2px;
}

#sec1 .whatsappbtn {
	color: #2dec00;
	font-weight: bolder;
	letter-spacing: 1px;
	background-color: var(--c1);
	border-radius: 5px;
	/* margin-left: 5px;
	margin-right: 5px; */
	letter-spacing: 1px;
	/* font-size: 1.9em; */
	outline: none;
}

.fa-whatsapp {
	font-size: 1.4em;
}

#sec1 .exp {
	font-weight: bold;
	font-size: 1.2em;
}




#sec1 .exp .ten {
	font-size: 1.5em;
}
#sec1 .ex {
	font-size: 0.8em;
}


#sec2 {
	height: auto;
	/* padding-top: 80px;
	padding-bottom: 80px; */
	width: 100%;
}

#sec2 h2{
    color: var(--c3);
}

#sec2 .nav-item {
	margin-right: 50px;
	margin-top: 10px;

}

.nav-link {
	color: var(--c2) !important;
}


#sec1 ul .active,#sec2 ul .active ,#sec3 ul .active ,#sec4 ul .active ,#sec5 ul .active ,#sec6 ul .active  {
	background-color: var(--c1) !important;
	color: var(--c3) !important;
	border-bottom: 5px solid var(--c3);
	border-radius: 0 !important;
}

#p2sec1 ul .active,#p2sec2 ul .active ,#p2sec3 ul .active ,#p2sec4 ul .active ,#p2sec5 ul .active ,#p2sec6 ul .active  {
	background-color: var(--c1) !important;
	color: var(--p2c3) !important;
	border-bottom: 5px solid var(--p2c3);
	border-radius: 0 !important;
}

.pilltext {
	line-height: 30.5px;
	letter-spacing: 0.5px;
}


.docslider .owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	color:var(--c2);
	font-size: 60px !important;
	background-color: rgba(255, 255, 255, 0.5);
	/* padding: 20px; */
	border-radius: 50%;
	z-index: 1; 
  }

  .docslider .owl-prev {
	left: 15px;
  }

  .docslider .owl-next {
	right: 15px;
  }


  #p2sec2 .secondtheme .docslider .owl-prev {
	left: 15px;
  }

  #p2sec2 .secondtheme .docslider .owl-next {
	right: 15px;
  }


.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	color:var(--c2);
	font-size: 60px !important;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	z-index: 1; 
  }

  .owl-prev {
	left: 8px;
  }

  .owl-next {
	right: 4px;
  }


  

  #sec3 h2 {
    color: var(--c3);
    font-weight: 800;
}

#sec3 .date-wrapper {
    border: 1px solid var(--c4);
    border-radius: 25px;
    /* padding: 20px 2px 20px 2px; */
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: var(--c1);
    transition: .5s;
}

#sec3 .date {
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--c3);
}

#sec3 .day {
    font-size: 13px;
    font-weight: 400;
    color: var(--c4);
}

#sec3 .date-wrapper:hover > .day {
    color: var(--c1);

}

#sec3 .date-wrapper:hover > .date {
    color: var(--c1);

}


#sec3 .date-wrapper:hover {
    background-color: var(--c3);
    transition: .5s;
}

#sec3 .fa-location-dot{
    color: var(--c1);
}


#sec3 .location-wrapper{
    width: 70px;
    height: 70px;
    background-color: var(--c3);
    border-radius: 100px;
}



#sec3 .ap-book {
    background: transparent;
    border: 1px solid var(--c3);
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
}


#sec3 .ap-book:hover {
    background: var(--c3);
    color: var(--c1);
    transition: 300ms;
}

#sec3 .time-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none;
    margin-left: -38px;

}

#sec3 .time {
    display: inline-flex !important;
    white-space: nowrap;
    margin-left: 5px;
}


.loc-icon {
	height: 80px;
	width: 80px;
}


#sec3 .ap-book{
	background: transparent;
	border: 1px solid var(--c3);
	padding: 10px;
	border-radius: 5px;
	transition: 300ms;
}


#sec3 .ap-book:hover{
	background: var(--c3);
	color: var(--c1);
	transition: 300ms;
}




#sec4 h2{
	color: var(--c3);
	font-weight: bolder;
}

#sec4 .facilities{
	background: var(--c3);
	border: 1px solid var(--c3);
	color: var(--c1);
	font-weight: bolder;
	padding: 10px;
	border-radius: 20px;
	transition: 300ms;
}

#sec4 .facilities:hover{
	background: var(--c1);
	color: var(--c2);
	transition: 300ms;
}




.exp-imag-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp-imag-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



#sec5 h2{
	color: var(--c3);
	font-weight: bolder;
}

#sec5 .search-wrapper{
	background-color: var(--c3);
	
}

#sec5 .searchBtn{
	text-align: center;
	background-color: var(--c3);
	color: var(--c1);
	font-weight: bolder;
	position: relative;
	border: 1px solid var(--c1);
}

#sec5 h5{
	color: var(--c3);
	font-weight: bolder;
}

button:hover{
	opacity: 0.8;
	transition: .5s;
}

#sec5 .readMore{
	background-color: var(--c3);
	border-radius: 15px;
	transition: .5s;
	color: var(--c1);
	border: none;
}

#sec5 .articele-wrapper{
/*	border: 1px solid var(--c2);*/
	box-shadow: 0 5px 10px 10px rgba(0,0,0,0.03);
    min-height: 450px;
}

#sec5 .article-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec5 .article-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}







  
#sec6 p, h2{
	color: var(--c3);
}

#sec6 h2{
	font-weight: bolder;
}

#sec6 h5{
	color: var(--c3);
	font-weight: bolder;
}

#se6 .dropdown-toggle{
	border: 1px solid var(--c2);
}

#sec6 .test-search{
    background-color: var(--c3);
    color: var(--c1);
}

/* #sec6 .activeexperience {
    background-color: var(--c3);
    color: var(--c1);
} */

.exp{
	border-radius: 20px;
	border: 1px solid var(--c3);
	background: transparent;
}


.test-wrapp{
	background-color: #ebf3fb;
	border-radius: 10px;
    min-height: 380px;
}



.testimonial-slider .owl-prev {
    position: absolute;
	left: -25px;
  }

.testimonial-slider .owl-next {
    position: absolute;
    right: -25px;
}


#sec6 .readMoreLink{
	color: var(--c3);
    text-decoration: none;
	font-weight: 400;
    cursor: pointer;
}


.quotes{
	font-size: 4em;
	color: var(--c3);
}

.rel-btn{
	background-color: var(--c1);
	border-radius: 10px;
	border: 1px solid var(--c3) !important;

}

#sec7 h2{
	font-weight: bolder;
	color: var(--c3);
}

#sec7 h5{
	color: var(--c3);
	font-weight: bolder;
}
#sec7 .faq-search{
    background-color: var(--c3);
    color: var(--c1);
}

/* #sec7 .activeexperience {
    background-color: var(--c3);
    color: var(--c1);
} */




.accordion-item {
    padding: 20px;
    background: #fff;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 10px #ede9fe;
    border: var(--c3) 1px solid;
}

.accordion-item .accordion-label {
    font-size: 24px;
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-weight: 600;
}

.accordion-item .accordion-label:after {
    position: absolute;
    right: 0;
    content: "+";
    font-size: 20px;
    top: 2px;
    color: var(--c3);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
}

.accordion-item .accordion-label.cw-open:after {
    transform: rotate(45deg);
}

.accordion-item .accordion-content {
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.accordion-item .cw-open + .accordion-content {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}










#p2sec1 .secondtheme .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#p2sec1 .secondtheme .banner img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}


#p2sec1 .secondtheme .circle-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.09);
    position: relative;
    background: var(--p2c3);
    z-index: 5;
}

#p2sec1 .secondtheme .circle-container img {
    width: 99%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

#p2sec1 .secondtheme .content-wrapper {
    background-color: var(--p2c3);
}

#p2sec1 .secondtheme .profile-wrapper {
    background-color: var(--p2c3);
    position: relative;
    /*    top: -100px;*/
    margin-top: -80px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}


#p2sec1 .secondtheme .content-wrapper {
    color: var(--c1);
}

#p2sec1 .secondtheme h1 {
    font-weight: bolder;
}


#p2sec1 .secondtheme .appbtnred {
    background-color: var(--c1);
    color: var(--p2c3);
    transition: .5s;
    position: relative;
    top: -20px;
    border: 1px solid var(--p2c3);
}


#p2sec1 .secondtheme .appbtnred:hover {
    background-color: var(--p2c3);
    color: var(--c1);
    border: 1px solid var(--c1);
    transition: .5s;
}



#p2sec1 .secondtheme .line {
    width: 5px;
    height: 40px;
    background-color: var(--p2c3);
    position: absolute;
    margin-top: -7.5px;
    margin-left: -2px;
}

#p2sec1 .secondtheme .whatsappbtn {
    color: var(--p2c3);
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: var(--c1);
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    /*    left: 140px;*/
    top: 50px;
}

.fa-whatsapp {
    font-size: 1.4em;
}


@media screen and (min-width: 1083px) {

    #p2sec1 .secondtheme .appbtnred {
        left: 150px;
    }   
    
    #p2sec1 .secondtheme .whatsappbtn {
        left: 150px;
    }
}


#p2sec1 .secondtheme .star i{
    color: gold;
    margin: 5px;
    background-color: var(--c1);
    padding: 10px;
    border-radius: 100px;
    border: 1px solid var(--p2c3);
}


#p2sec1 .secondtheme .star {
    font-size: 20px;
    border-radius: 100%;
    padding: 4px 8px;
    color: var(--c3);
    
}




#p2sec1 .clinic-wrap {
    width: 25%;
    height: 45px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.05);
}

#p2sec1 .clinic-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



/* #p2sec1 .heightallignment {
    margin-top: -10px;
} */




.small-profileWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--p2c3);
    color: var(--c1);
}

.cat-news-load{
    cursor: pointer;
}


#blogsdynamic .col-lg-4 {
    width: 100%; /* Adjust this width based on your layout */
    float: left; /* Ensure items float left within the carousel */
}

/* Hide overflow to prevent items from stacking vertically */
#blogsdynamic.owl-carousel {
    overflow: hidden;
}



#p2sec2 {
    height: auto;
    /* padding-top: 80px;
	padding-bottom: 80px; */
    width: 100%;
}
#p2sec2 .secondtheme h2{
    color: var(--p2c3);
}


#p2sec2 .secondtheme .nav-item {
    margin-right: 50px;
    margin-top: 10px;

}

#p2sec2 .secondtheme .nav-link {
    color: var(--c2) !important;
}


#p2sec2 .secondtheme ul .active {
    background-color: var(--c1) !important;
    color: var(--p2c3) !important;
    border-bottom: 5px solid var(--p2c3);
    border-radius: 0 !important;

}

#p2sec2 .secondtheme .pilltext {
    line-height: 30.5px;
    letter-spacing: 0.5px;
}

#p2sec2 .secondtheme .owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    color: var(--c2);
    font-size: 60px !important;
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    border-radius: 50%;
    z-index: 1;
}

#p2sec2 .secondtheme .owl-prev {
    left: -35px;
}

#p2sec2 .secondtheme .owl-next {
    right: -35px;
}


#p2sec3 .secondtheme h2 {
    color: var(--p2c3);
    font-weight: 800;
}

#p2sec3 .secondtheme .date-wrapper {
    border: 1px solid var(--p2c3);
    border-radius: 25px;
    /* padding: 20px 2px 20px 2px; */
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: var(--c1);
    transition: .5s;
}

#p2sec3 .secondtheme .date {
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--p2c3);
}

#p2sec3 .secondtheme .day {
    font-size: 13px;
    font-weight: 400;
    color: var(--p2c3);
}

#p2sec3 .secondtheme .date-wrapper:hover > .day {
    color: var(--c1);

}

#p2sec3 .secondtheme .date-wrapper:hover > .date {
    color: var(--c1);

}


#p2sec3 .secondtheme .date-wrapper:hover {
    background-color: var(--p2c3);
    transition: .5s;
}

#p2sec3 .secondtheme .fa-location-dot{
    color: var(--c1);
}


#p2sec3 .secondtheme .location-wrapper{
    width: 70px;
    height: 70px;
    background-color: var(--p2c3);
    border-radius: 100px;
}



#p2sec3 .secondtheme .ap-book {
    background: transparent;
    border: 1px solid var(--p2c3);
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
}

#p2sec3 .secondtheme .ap-book:hover {
    background: var(--p2c3);
    color: var(--c1);
    transition: 300ms;
}

#p2sec3 .secondtheme .time-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none;
    margin-left: -38px;

}

#p2sec3 .secondtheme .time {
    display: inline-flex !important;
    white-space: nowrap;
    margin-left: 5px;
}


.loc-icon {
	height: 80px;
	width: 80px;
}



#p2sec3 .secondtheme .ap-book{
	background: transparent;
	border: 1px solid var(--p2c3);
	padding: 10px;
	border-radius: 5px;
	transition: 300ms;
}


#p2sec3 .secondtheme .ap-book:hover{
	background: var(--p2c3);
	color: var(--c1);
	transition: 300ms;
}





#p2sec4 .secondtheme h2 {
    color: var(--p2c3);
    font-weight: bolder;
}

#p2sec4 .secondtheme .facilities {
    background: var(--p2c3);
    border: 1px solid var(--p2c3);
    color: var(--c1);
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    transition: 300ms;
}

#p2sec4 .secondtheme .facilities:hover {
    background: var(--c1);
    color: var(--c2);
    transition: 300ms;
}


#p2sec5 .secondtheme h2 {
    color: var(--p2c3);
    font-weight: bolder;
}

#p2sec5 .secondtheme .search-wrapper {
    background-color: var(--p2c3);

}

#p2sec5 .secondtheme .searchBtn {
    text-align: center;
    background-color: var(--p2c3);
    color: var(--c1);
    font-weight: bolder;
    position: relative;
    border: 1px solid var(--c1);
}

#p2sec5 .secondtheme h5 {
    color: var(--p2c3);
    font-weight: bolder;
}

.secondtheme button:hover {
    opacity: 0.8;
    transition: .5s;
}

#p2sec5 .secondtheme .readMore {
    background-color: var(--p2c3);
    border-radius: 15px;
    transition: .5s;
    color: var(--c1);
    border: none;
}

#p2sec5 .secondtheme .articele-wrapper {
    /*	border: 1px solid var(--c2);*/
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.03);
    min-height: 450px;
}


#p2sec5 .article-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p2sec5 .article-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}







#p2sec6 .secondtheme h2{
    color: var(--p2c3);
}
#p2sec6 .secondtheme p{
    color: var(--p2c3);
}

#p2sec6 .secondtheme h2 {
    font-weight: bolder;
}

#p2sec6 .secondtheme .dropdown-toggle {
    border: 1px solid var(--c2);
}

#p2sec6 .secondtheme .test-search{
    background-color: var(--p2c3);
    color: var(--c1);
}



#p2sec6 .secondtheme h5{
	color: var(--p2c3);
	font-weight: bolder;
}


#p2sec6 .secondtheme .readMoreLink{
	color: var(--p2c3);
    text-decoration: none;
	font-weight: 400;
    cursor: pointer;
}

/* #p2sec6 .secondtheme .activeexperience {
    background-color: var(--p2c3);
    color: var(--c1);
} */

.secondtheme .exp {
    border-radius: 20px;
    border: 1px solid var(--p2c3);
    background: transparent;
}

/* #p2sec7 .activeexperience {
    background-color: var(--p2c3);
    color: var(--c1);
} */


.secondtheme .test-wrapp {
    background-color: #ebf3fb;
    border-radius: 10px;
    min-height: 450px !important;
}

.secondtheme .quotes {
    font-size: 4em;
    color: var(--p2c3);
}

.secondtheme .rel-btn {
    background-color: var(--c1);
    border-radius: 10px;
    border: 1px solid var(--p2c3) !important;

}

#p2sec7 .secondtheme .faq-search{
    background-color: var(--p2c3) ;
    color: var(--c1);
}

#p2sec7 .secondtheme h2 {
    font-weight: bolder;
    color: var(--p2c3);
}

#p2sec7 .secondtheme h5{
	color: var(--p2c3);
	font-weight: bolder;
}













.secondtheme .accordion-item {
    padding: 20px;
    background: #fff;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 10px #ede9fe;
    border: var(--p2c3) 1px solid;
}

.secondtheme .accordion-item .accordion-label {
    font-size: 24px;
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-weight: 600;
}

.secondtheme .accordion-item .accordion-label:after {
    position: absolute;
    right: 0;
    content: "+";
    font-size: 20px;
    top: 2px;
    color: var(--p2c3);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
}

.secondtheme .accordion-item .accordion-label.cw-open:after {
    transform: rotate(45deg);
}

.secondtheme .accordion-item .accordion-content {
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.secondtheme .accordion-item .cw-open + .accordion-content {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}


.secondtheme .profile-wrapper{
    background-color: var(--p2c3);
    color: var(--c1);
}

.secondtheme .ppWrapper{
    position: relative;
    top: 80px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: var(--p2c3);
    overflow: hidden;
    z-index: 5;
}



.secondtheme .appbtnsm{
    position: relative;
    top: -25px;
    background-color: var(--c1);
    font-weight: bolder;
    border: 1px solid var(--c2);
}

.secondtheme .gotopsm{
    position:relative;
    top: -250px;
}

.secondtheme .top-fix{
    position:relative;
    top: -150px;
}


.activeexperience1{
    background-color: var(--c3);
    color: var(--c1);
}

.activeexperience2{
    background-color: var(--p2c3) !important;
    color: var(--c1);
}








.tag{
    padding: 4px;
    border-radius: 10px;
}



.active-tag1 {
    background-color: var(--c1);
    color: var(--c3);
    padding: 4px;
    border-radius: 10px;
    transition: .5s;
}

.active-tag2 {
    background-color: var(--c1) !important;
    color: var(--p2c3) !important;
    padding: 4px;
    border-radius: 10px;
    transition: .5s;
}


#sec2 .read-more-btn {
    color: var(--c3);
    cursor: pointer;
    position: relative;
    top: -20px;
}

#p2sec2 .secondtheme .read-more-btn {
    color: var(--p2c3);
    cursor: pointer;
    position: relative;
    top: -20px;
}


.mailto, .callto{
    color: var(--c1)!important;
    cursor: pointer;
    z-index: 10;
}


.fs-low{
    font-size: 14px;
}

.about-wrap{
    width: 100%;
    height:43vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}

.about-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.overview-image-wrap{
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-image-wra img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}




.read-more-link {
    text-decoration: none;
    display: block;
    color: var(--c3);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}



.read-more-link2 {
    text-decoration: none;
    display: block;
    color: var(--p2c3);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}


.slides {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 35px;
    position: relative;
}

.slides .move {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    color: var(--c1);
}

@keyframes marquee {
    0% {
        transform: translateX(450%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.slides .move:hover {
    animation-play-state: paused;
    cursor: pointer;
    color: var(--c2);
    transition: .5s;
}



.nav-pills{
    overflow-x: hidden;
}


.maplink iframe{
	width: 100% !important;
    height: 450px !important;
}

.map-pill .nav-item .active{
    border-bottom: 3px solid var(--c3);
}

.secondtheme .map-pill .nav-item .active{
    border-bottom: 3px solid var(--p2c3);
}

.map-pill .nav-link{
    background-color: var(--c1) !important;
    border-radius: 0;
    margin: 5px;
}