@media only screen and (max-width: 375px) {
    .appbtn, .whatsappbtn {
        font-size: 14px; 
        padding: 8px 13px;  
    }

}

@media only screen and (min-width: 390px) and (max-width: 767px) {
    .appbtn, .whatsappbtn {
        font-size: 14px; 
        padding: 8px 13px; 
    }

}


@media only screen and (max-width: 767px) {
	#sec1 .img-bg {
		background: var(--c1);
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#sec1 .img-bg img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
		
		#sec1 .container{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
		
		
		
		#sec1 .intro-box {
		padding-left: 0px;
	}
	
		.svg {
			position: relative;
			top: -80px;
			width: 100%;
			height: 1vh;
		}
	
		.container-fluid {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	
		.tc {
			text-align: center;
		}
		
		
		
	
		.appbtn {
			margin: 5px;
			border: 1px solid var(--c3);
			width: 10;
			margin-left: 30px !important;
		}
	
		#sec1 .whatsappbtn {
			border: 1px solid var(--c3);
			margin-left: 30px !important;
		}
	
		#sec1 .secondtheme .whatsappbtn{
			align-items: center;
			align-content: center;
			text-align: center;
		}
	
		#p2sec1 .secondtheme .whatsappbtn{
			align-items: center;
			align-content: center;
			text-align: center;
		}

		#p2sec1 .secondtheme .clinic-wrap{
			box-shadow: none !important;
		}

		.line {
			height: 39px !important;
		}
		
		
		
	
		.sm-fl {
			background-color: var(--c1)!important;
			padding-top: 20px;
			display: flex !important;
		}
	
		.sm-fl2 {
			background-color: var(--c1)!important;
			padding-top: 20px;
			display: flex !important;
		}
	
		.bg-change {
			background-color: var(--c1);
		}
	

		#sec1 .star i{
			border: 1px solid var(--c3);
		}

		#sec1 .star {
			text-align: center;
		}

	
		.nav {
			display: flex !important;
			overflow-x: auto !important;
			flex-wrap: nowrap !important;
		}
	
		.nav-item {
			display: inline-flex !important;
			white-space: nowrap;
		}
	
		.li-fl {
			flex: 0 0 100% !important;
			max-width: 100% !important;
		}
		
		.sm-hide {
			display: none;
		}
		
		.timg {
			width: 40% !important;
		}
		
		.sm-block{
			display: block !important;
		}


		#p2sec1 .secondtheme .banner {
			width: 100%;
			height: auto !important;
			object-fit: cover;
		}
			
		#p2sec1 .secondtheme .circle-container {
			position: relative;
			margin-top: -130px;
		}
		
		#p2sec1 .secondtheme .whatsappbtn {
			top: 0px;
			border: 1px solid var(--p2c3);
		}
			

		.address-wrapper{
			width: 100% !important;
		}


		#p2sec5 .secondtheme .articele-wrapper{
			width: 80% !important;
		}

		#p2sec5 .secondtheme .articele-wrapper .owl-prev {
			left: 15px !important;
		  }
		
		#p2sec5 .secondtheme .articele-wrapper .owl-next {
			right: 15px !important;
		  }
		  

		  .dateslider .owl-prev {
			left: -20px !important;
		  }
		
		  .dateslider .owl-next {
			right: -20px !important;
		  }

		  .test-wrap{
			width: 80% !important;
		  }

		  .sm-center{
			align-items: center;
			align-content: center;
			text-align: center;
		  }

		  .small-padding{
			padding: 5px !important;
			padding-top: 0 !important;
		  }

		  .test-wrapp{
			width: 90%;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}
		
		
		
		.testimonial-slider .owl-prev {
			position: absolute;
			left: 0px !important;
		  }
		
		.testimonial-slider .owl-next {
			position: absolute;
			right: -15px !important;
		}

		.popup {
			width: 100%;
		}

		#sec5 .searchBtn, #p2sec5 .secondtheme .searchBtn {
			left: 63.5%!important;
		}

		#sec6 .test-search, #p2sec6 .secondtheme .test-search{
			left: 66.5%!important;
		}

		#sec7 .faq-search, #p2sec7 .secondtheme .faq-search{
			left: 65.5% !important;
		}
		  
		.date-wrapper {
			width: 150px !important;
			height: 100px;
			display: flex; 
			justify-content: center !important;
			align-items: center !important;
			margin: auto;
		}
		

		.dateslider .owl-prev{
			left: 50px !important;
		}
		
		.dateslider .owl-next{
			right: 50px !important;
		}

		.monthslider2 {
			width: 150px !important;
		}


		
	
	}

	


	@media (max-width: 767px) {
		.clinic-nav-container {
		  position: relative;
		}
		.next-clinic {
		  display: block;
		  margin-top: 10px;
		}

		#sec3 .next-clinic{
			background-color: var(--c3);
			color: var(--c1);
		}

		#p2sec3 .secondtheme .next-clinic{
			background-color: var(--p2c3);
			color: var(--c1);
		}


	  }
	  
	  @media (min-width: 768px) {
		.next-clinic {
		  display: none;
		}
	  }





	  @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
	#sec5 .searchBtn ,#p2sec5 .secondtheme .searchBtn{
		left: 79.5%!important;
	}

	#sec6 .test-search, #p2sec6 .secondtheme .test-search {
		left: 80.5%!important;
	}


	#sec7 .faq-search, #p2sec7 .secondtheme .faq-search {
		left: 80.5% !important;
	}


	  
}


@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2) {
	#sec5 .searchBtn, #p2sec5 .secondtheme .searchBtn {
		left: 84.5%!important;
	}

	#sec6 .test-search, #p2sec6 .secondtheme .searchBtn {
		left: 84.5%!important;
	}

	#sec7 .faq-search, #p2sec7 .secondtheme .searchBtn {
		left: 84.5% !important;
	}
}




.content-overflow{
	height: 400px;
	overflow: auto;
}

