/**
 * @file
 * Schema.org JSON:API preview styles.
 */

.block-schemadotorg-jsonapi-preview {
  margin: 0;
}

.schemadotorg-jsonapi-preview-endpoints .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.schemadotorg-jsonapi-preview-endpoints .form-item label {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.schemadotorg-jsonapi-preview-endpoints a {
  word-wrap: break-word;
}
