html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--c1);
    font-family: 'Lexend', sans-serif;
}

/* Customized  Scroll  */


/*
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c1);
}
*/


/* End of Customized  Scroll  */

section {
/*
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
*/
}

.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #ffffff;
    /*     white       */
    --c2: #000000;
    /*     black       */
    --c3: #4c94d3;
    /*                 */
    --c4: #A7A7A7;
    /*                 */
    --c5: ;
    /*                 */
    --p2c3: #f81b3d;
    /*                 */
    --p2c4: #eb0f31;
    /*                 */
    --c8: ;
    /*                 */
    --c9: ;
    /*                 */
    --c10: ;
}


#p2sec1 {
    background-color: var(--c1);
    /*	color: var(--c1);*/
    min-height: 100vh auto;
}

#p2sec1 .banner {
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cont {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--p2c4);
    overflow: hidden;
    z-index: 5;
}

.cont .col-sm-3 {
    width: 100%;
    height: 100%;
}

.cont img {
    width: 100%;
    height: auto;
}

.box-cont {
    position: relative;
    left: 50px;
    width: 100%;
    height: 240px;
    background-color: var(--p2c3);
    position: relative;
    left: -150px;
    top: 5px;
}

.box-data {
    position: relative;
    left: 15%;
}





.gotop {
    position: relative;
    top: -100px;
}

.flx {
    display: flex;
    color: var(--c1);
}

#p2sec1 h1 {
    color: var(--c1);
    font-weight: bold;
}

#p2sec1 .intro-box {
    padding-top: 30px;
    padding-left: 20px;
}

#p2sec1 .title {
    color: var(--c1);
    font-weight: bolder;
}

#p2sec1 .appbtn {
    background: var(--c1);
    color: var(--p2c3);
    /* font-weight: bold; */
    /* padding: 10px; */
    /* width: 280px; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;
    left: -140px;
    top: -15px;
}

#p2sec1 .rating {
    position: relative;
    left: 0px;
    unicode-bidi: bidi-override;
    direction: rtl;

}

@media screen and (min-width: 1083px) {
    #p2sec1 .intro-box {
        padding-top: 100px;
        padding-left: 150px;
    }

    #p2sec1 .appbtn {
        width: 280px;
    }

    #p2sec5 .searchBtn {
        left: -90px !important;
        margin-top: 2px;
        margin-bottom: 2px;

    }
}

@media screen and (max-width: 991px) {
    .facilities {
        width: 300px;
    }
}


#p2sec1 .star {
    font-size: 30px;
    color: var(--c1);
    cursor: pointer;
    background: var(--p2c3);
    border-radius: 100%;
    padding: 4px 8px 4px 8px;
    /* margin: 2px; */
}

#p2sec1 .star:hover,
#p2sec1 .star:hover ~ .star {
    color: #ffcc00;
}

#p2sec1 .line {
    width: 5px;
    height: 40px;
    background-color: #2dec00;
    position: absolute;
    margin-top: -7.5px;
    margin-left: -2px;
}

#p2sec1 .whatsappbtn {
    color: #2dec00;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: var(--c1);
    border-radius: 5px;
    /* margin-left: 5px;
	margin-right: 5px; */
    letter-spacing: 1px;
    /* font-size: 1.9em; */
    outline: none;
    position: relative;
    top: 120px;
}

.fa-whatsapp {
    font-size: 1.4em;
}

#p2sec1 .exp {
    font-weight: bold;
    font-size: 1.2em;
}

#p2sec1 .exp .ten {
    font-size: o.8em;
}

#p2sec1 .ex {
    font-size: 0.8em;
}


#p2sec2 {
    height: auto;
    /* padding-top: 80px;
	padding-bottom: 80px; */
    width: 100%;
}


#p2sec2 .nav-item {
    margin-right: 50px;
    margin-top: 10px;

}

.nav-link {
    color: var(--c2) !important;
}


ul .active {
    background-color: var(--c1) !important;
    color: var(--p2c3) !important;
    border-bottom: 5px solid var(--p2c3);
    border-radius: 0 !important;

}

.pilltext {
    line-height: 30.5px;
    letter-spacing: 0.5px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    color: var(--c2);
    font-size: 60px !important;
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    border-radius: 50%;
    z-index: 1;
}

.owl-prev {
    left: -35px;
}

.owl-next {
    right: -35px;
}


#p2sec3 h2 {
    color: var(--p2c3);
    font-weight: 800;
}

#p2sec3 .date-wrapper {
    border: 1px solid var(--c4);
    border-radius: 25px;
    /* padding: 20px 2px 20px 2px; */
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: var(--c1);
    transition: .5s;
}

#p2sec3 .date {
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--p2c3);
}

#p2sec3 .day {
    font-size: 13px;
    font-weight: 400;
    color: var(--c4);
}

#p2sec3 .date-wrapper:hover > .day {
    color: var(--c1);

}

#p2sec3 .date-wrapper:hover > .date {
    color: var(--c1);

}


#p2sec3 .date-wrapper:hover {
    background-color: var(--p2c3);
    transition: .5s;
}


.loc-icon {
    height: 80px;
    width: 80px;
}

.loctext {
    margin-left: 30px;
}

#p2sec3 .ap-book {
    background: transparent;
    border: 1px solid var(--p2c3);
    padding: 10px;
    border-radius: 5px;
    transition: 300ms;
}


#p2sec3 .ap-book:hover {
    background: var(--p2c3);
    color: var(--c1);
    transition: 300ms;
}

#p2sec3 .time-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none;
    margin-left: -38px;

}

#p2sec3 .time {
    display: inline-flex !important;
    white-space: nowrap;
    margin-left: 5px;
}





#p2sec4 h2 {
    color: var(--p2c3);
    font-weight: bolder;
}

#p2sec4 .facilities {
    background: var(--p2c3);
    border: 1px solid var(--p2c3);
    color: var(--c1);
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    transition: 300ms;
}

#p2sec4 .facilities:hover {
    background: var(--c1);
    color: var(--c2);
    transition: 300ms;
}


#p2sec5 h2 {
    color: var(--p2c3);
    font-weight: bolder;
}

#p2sec5 .search-wrapper {
    background-color: var(--p2c3);

}

#p2sec5 .searchBtn {
    text-align: center;
    background-color: var(--p2c3);
    color: var(--c1);
    font-weight: bolder;
    position: relative;
    border: 1px solid var(--c1);
}

#p2sec5 h5 {
    color: var(--p2c3);
    font-weight: bolder;
}

button:hover {
    opacity: 0.8;
    transition: .5s;
}

#p2sec5 .readMore {
    background-color: var(--p2c3);
    border-radius: 15px;
    transition: .5s;
    color: var(--c1);
    border: none;
}

#p2sec5 .articele-wrapper {
    /*	border: 1px solid var(--c2);*/
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.03);
}








#p2sec6 p,
h2 {
    color: var(--p2c3);
}

#p2sec6 h2 {
    font-weight: bolder;
}

#se6 .dropdown-toggle {
    border: 1px solid var(--c2);
}

.exp {
    border-radius: 20px;
    border: 1px solid var(--p2c3);
    background: transparent;
}


.test-wrapp {
    background-color: #ebf3fb;
    border-radius: 10px;
}

.quotes {
    font-size: 4em;
    color: var(--p2c3);
}

.rel-btn {
    background-color: var(--c1);
    border-radius: 10px;
    border: 1px solid var(--p2c3) !important;

}

#p2sec7 h2 {
    font-weight: bolder;
    color: var(--p2c3);
}

.map {
    width: 100%;
}






.accordion-item {
    padding: 20px;
    background: #fff;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 10px #ede9fe;
    border: var(--p2c3) 1px solid;
}

.accordion-item .accordion-label {
    font-size: 24px;
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-weight: 600;
}

.accordion-item .accordion-label:after {
    position: absolute;
    right: 0;
    content: "+";
    font-size: 20px;
    top: 2px;
    color: var(--p2c3);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 1;
    text-align: center;
}

.accordion-item .accordion-label.cw-open:after {
    transform: rotate(45deg);
}

.accordion-item .accordion-content {
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.accordion-item .cw-open + .accordion-content {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}